
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .divContent {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    background: #FFEEE2;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  